<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.keithley.tspdt.launching.TspLaunchConfiguration">
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<listAttribute key="tsp_attr_files_list">
<listEntry value="main.tsp"/>
</listAttribute>
<stringAttribute key="tsp_attr_project_name" value="KE2460_PulseItrain"/>
<booleanAttribute key="tsp_attr_run_action_load" value="false"/>
<booleanAttribute key="tsp_attr_run_action_load_execute" value="true"/>
<booleanAttribute key="tsp_attr_storage_non_volatile" value="false"/>
<booleanAttribute key="tsp_attr_storage_volatile" value="true"/>
</launchConfiguration>
